#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
if command -v brew &>/dev/null; then
    echo "==> Installing Homebrew packages..."
    brew bundle install --file="{{ .chezmoi.sourceDir }}/Brewfile"
fi
{{ end -}}
