# WakaTime config — created once by chezmoi, edit manually or switch to 1Password later
# To use 1Password: rename this file to dot_wakatime.cfg.tmpl and use:
#   [settings]
#   api_key = {{ onepasswordRead "op://Personal/WakaTime/credential" }}
[settings]
api_key = YOUR_API_KEY_HERE
